body {
	background-image: url("images/concrete-texture.png");
	height: 100%;
}



#footer {
	background: #666666;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    border-top: 2px solid #4aaaa5;
}
